<button *ngIf="!active" mat-stroked-button style="width: 100%; height: 100%;" (tap)="onTap()">
    <ng-template [ngTemplateOutlet]="tile"></ng-template>
    </button>
    <button *ngIf="active" mat-flat-button color="primary" style="width: 100%; height: 100%;" (tap)="onTap()">
    <ng-template [ngTemplateOutlet]="tile"></ng-template>
    </button>
    
    <ng-template #tile>
        <mat-grid-list cols='1' rowHeight="5:1"  [style.opacity]="entity?.state == 'unavailable' ? 0.3 : 1">
            <mat-grid-tile [@showhide]="running" [style.color]='getIconColor'>
                <span *ngIf='entity?.attributes' style="border-radius: 100%; height: 100%; width: 20%;" [style.background-color]="getBackgroundColor" class="iconify"
                [attr.data-icon]='entity?.attributes?.icon' data-height="100%"></span>
            </mat-grid-tile>
            <mat-grid-tile rowspan='2'>
                <span [style.font-size.vw]="settings.getStateFont(getState)" >{{ getState | titlecase }}</span>
            </mat-grid-tile>
            <mat-grid-tile rowspan='2'>
                <div class="clamped" [style.font-size.vw]="settings.getNameFont">{{ getFriendlyName | spacedText | titlecase }}</div>
            </mat-grid-tile>
        </mat-grid-list> 
    </ng-template>