<div style="width: 100%; height: 100%;" id="dialog-cont">
  <h1 mat-dialog-title>{{ getFriendlyName }}</h1>
  <h1 mat-dialog-title><span style="font-weight: bolder;">{{ getCurrentTemp }}</span>   (
    <span *ngIf="entity.attributes.temperature">{{entity.attributes.temperature}}</span>
    <span *ngIf="entity.attributes.target_temp_low">{{entity.attributes.target_temp_low}} - {{entity.attributes.target_temp_high}}</span>
    )</h1>

  <table width="100%">
    <tr *ngIf="entity.attributes.temperature" class='dialog-setting'>
      <td style="width: 50%">Target:</td>
      <td style="width: 50%">
        <mat-slider style="width: 100%" [max]="getMax" [min]="getMin" [step]="getStep" thumbLabel="true"
          [(ngModel)]="entity.attributes.temperature" (change)="updateEntity('temp')">
        </mat-slider>
      </td>
    </tr>
    <tr *ngIf="entity.attributes.target_temp_high" class='dialog-setting'>
      <td>Target Min:</td>
      <td>
        <mat-slider [max]="getMax" [min]="getMin" [step]="getStep" thumbLabel="true"
          [(ngModel)]="entity.attributes.target_temp_high" (change)="updateEntity('high')">
        </mat-slider>
      </td>
    </tr>
    <tr *ngIf="entity.attributes.target_temp_low" class='dialog-setting'>
      <td>Target Max:</td>
      <td>
        <mat-slider [max]="getMax" [min]="getMin" [step]="getStep" thumbLabel="true"
          [(ngModel)]="entity.attributes.target_temp_low" (change)="updateEntity('low')">
        </mat-slider>
      </td>
    </tr>
    <tr class="dialog-setting">
      <td>HVAC Mode: </td>
      <td>
      <button style="font-size: inherit; width: 100%;" mat-stroked-button color="primary"
        (tap)="showList('hvac')">{{ this.entity.state | spacedText | titlecase  }}</button></td>
    </tr>
    <tr class="dialog-setting" *ngIf="this.entity.attributes.preset_mode">
      <td>Preset Mode: </td>
      <td>
      <button style="font-size: inherit; width: 100%;" mat-stroked-button color="primary"
        (tap)="showList('preset')">{{ this.entity.attributes.preset_mode | spacedText | titlecase  }}</button></td>
    </tr>
    <tr class="dialog-setting" *ngIf="this.entity.attributes.fan_mode">
      <td>Fan Mode: </td>
      <td>
      <button style="font-size: inherit; width: 100%;" mat-stroked-button color="primary"
        (tap)="showList('fan')">{{ this.entity.attributes.fan_mode | spacedText | titlecase  }}</button></td>
    </tr>
  </table>
    <button style="font-size: inherit; width: 100%;" mat-stroked-button color="accent"
        (tap)="showHistory()">History Graph</button>

