<button *ngIf="!active" mat-stroked-button style="width: 100%; height: 100%;" (press)="onPressUp()"  (tap)="onTap()">
<ng-template [ngTemplateOutlet]="tile"></ng-template>
</button>
<button *ngIf="active" mat-flat-button [style.background-color]="settings.getTileColor" style="width: 100%; height: 100%; color: white" (press)="onPressUp()"  (tap)="onTap()">
<ng-template [ngTemplateOutlet]="tile"></ng-template>
</button>

<ng-template #tile>   
    <mat-grid-list cols='1' rowHeight="5:1"  [style.opacity]="entity?.state == 'unavailable' ? 0.3 : 1">
        <mat-grid-tile  [style.color]='iconColor'>
            <span  *ngIf='entity?.attributes' class="iconify"
            [attr.data-icon]='entity?.attributes?.icon' data-height="100%"></span>
        </mat-grid-tile>
        <mat-grid-tile rowspan='2'>
            <span [style.font-size.vw]="settings.getStateFont(getState)">{{ getState | spacedText | titlecase }}</span>
        </mat-grid-tile>
        <mat-grid-tile rowspan='2'>
            <div class="clamped" [style.font-size.vw]="settings.getNameFont">{{ getFriendlyName | spacedText | titlecase }}</div>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>