
@import '~angular-material-css-vars/main';

// optional
// $mat-css-dark-theme-selector: '.isDarkTheme';
// $mat-css-light-theme-selector: '.isLightTheme';

// @import '~angular-material-css-vars/public-util';



@include mat-css-set-palette-defaults($mat-light-blue, 'primary');
@include mat-css-set-palette-defaults($mat-pink, 'accent');
// @include mat-css-set-palette-defaults($mat-red, 'warn');

@include init-material-css-vars();

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%;
    position: fixed;
    overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toolbar-spacer {
    flex: 1 1 auto;
  }

  .settings-area{
      margin: 10px auto;
      display: inherit;
      flex-direction: inherit;
      max-width: 600px;
      width: 90%;
  }

:root {
  --primary-color: #ff0000;
}

.slider-padding {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.slider-padding .value_header {
  width: 90px;
}

.slider-padding .mat-slider {
  width: 100%;
  flex: 1 1;
}

.bg-500 {
  @include mat-css-color-and-contrast-primary(500);
  width: 100%;
}

.bga-500 {
  @include mat-css-color-and-contrast-accent(500);
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;  
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;    
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  z-index: 1000;
}

.top-bar{
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 100;
  flex: 0 0 auto;
}



.clamped{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-align: center;
    line-height: normal;
    width: 95%;
    white-space: pre-wrap !important;
    font-size: inherit;
}



.full-width-dialog .mat-dialog-container {
  width: 100vw !important;
  max-width: 400px !important;
  border-top: 20px solid var(--primary-color);
  // height: 95vh !important;
}

.graph-dialog .mat-dialog-container {
  width: 90vw !important;
  height: 90vh !important;
  border-top: 20px solid var(--primary-color);
  // height: 95vh !important;
}



input[type='text'],
input[type='number'],
input[type='password'],
input[type='url'],
input {
  font-size: 16px;
}

.camera-img {    
  vertical-align: middle;
  object-fit: contain;
  width: 100%;
  height: 100%;
}


.camera-name {  
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: .75em;
  bottom: 0px;
  height: 1.5em;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
  padding: 0 10px;
}  

video {
  width: 100% !important;
  height: auto !important;
}

.detail-toggle {
  width: 100%;
}


.dialog-setting {
  font-size: 125%;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}



.icon-tile > ::ng-deep figure {
  justify-content: flex-start !important;
}





