.delete-button {
    position: absolute;
    background-color: transparent;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 25px;
    z-index: 99999;
}

.arrow-right {
    position: absolute;
    background-color: transparent;
    bottom: 15px;
    right: 5px;
    color: blue;
    font-size: 25px;
    z-index: 99999;
}
.arrow-left {
    position: absolute;
    background-color: transparent;
    bottom: 15px;
    left: 5px;
    color: blue;
    z-index: 99999;
}

.header-less-tabs.mat-tab-group .mat-tab-header {
    display: none;
  }

.top-bar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 100;
    flex: 0 0 auto;
}



.app-container {
    display: flex;
    flex-direction: column;    
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
