<div class='app-container'>
    <mat-toolbar color="primary" class="top-bar mat-elevation-z4">
        <span>Settings</span>
        <span class="toolbar-spacer"></span>
        <button mat-button (tap)="gotoHome()"><span style="font-size: 20px;" class="iconify"
                data-icon="mdi:home"></span></button>

    </mat-toolbar>

    <div class="settings-area">
        <button style="padding: 10px 0px; margin-bottom: 15px;" mat-raised-button color="accent" (tap)="editRooms()">Edit
            Rooms</button>
        <mat-divider></mat-divider>
        <h3><b>Connection</b></h3>
        <mat-form-field class="width: 100%">
            <mat-label>Home Assistant URL</mat-label>
            <span matPrefix>https://</span>
            <input type="url" [(ngModel)]='url' matInput placeholder="ha.duckdns.org:8123">
            <mat-hint align="start"><strong>Must be ssl and external</strong> </mat-hint>
        </mat-form-field>
        <button mat-raised-button (tap)="tryConnect()" color="primary">Connect</button>
        <mat-divider></mat-divider>
        <h3><b>Layout</b></h3>
        <div class="settings-item">
            <div style="width: 150px">Columns Portrait:</div>
            <mat-slider style="flex: 1" max="6" min="1" step="1" thumbLabel="true" [(ngModel)]="cols"
                (change)="setCols()">
            </mat-slider>
        </div>
        <div class="settings-item">
            <div style="width: 150px">Columns Landscape:</div>
            <mat-slider style="flex: 1" max="20" min="1" step="1" thumbLabel="true" [(ngModel)]="colsLand"
                (change)="setColsLand()">
            </mat-slider>
        </div>
        <div class="settings-item">
            <div style="width: 150px">Room Transition:</div> 
            <button style="flex: 1; max-width: 200px" mat-raised-button color="accent" (tap)="setEffect()">{{ getEffect | titlecase }}</button>
        </div>

        <div class="settings-item" style="justify-content: space-evenly; margin: 15px 0px;">
            <button style="flex: 1 1; margin: 0px 10px;" mat-raised-button color="primary" (tap)="openPrimaryColor()">Primary Color</button>
            <button style="flex: 1 1; margin: 0px 10px;" mat-raised-button color="accent" (tap)="openAccentColor()">Accent Color</button>
            
        </div>
        <mat-checkbox [(ngModel)]="showCurrent" labelPosition="before" (change)="setClimateDisplay()" color="primary">Show Climate Current Temp
        </mat-checkbox>
        <div>
            <button mat-raised-button color="accent" (tap)="setPasscode()">Set Passcode</button>
        </div>

        <div>
            <button mat-raised-button color="warn" (tap)="resetRooms()">Reset Rooms</button>
        </div>
        <div>
            HassPWA version: 1.0.1
        </div>
    </div>
</div>