<mat-toolbar color="primary">
    <span>Settings</span>
    <span class="toolbar-spacer"></span>
    <button mat-button [routerLink]="['/home']"><span style="font-size: 20px;" class="iconify"
            data-icon="mdi:home"></span></button>

</mat-toolbar>

<div class="settings-area">
    <button style="padding: 10px 0px; margin-bottom: 15px;" mat-flat-button color="accent" (tap)="editRooms()">Edit
        Rooms</button>
    <mat-divider></mat-divider>
    <h3>Connection:</h3>
    <mat-form-field class="width: 100%">
        <mat-label>Home Assistant URL</mat-label>
        <span matPrefix>https://</span>
        <input type="url" [(ngModel)]='url' matInput placeholder="ha.duckdns.org:8123">
        <mat-hint align="start"><strong>Must be ssl and external</strong> </mat-hint>
    </mat-form-field>
    <button mat-button (tap)="tryConnect()" color="primary">Connect</button>
    <mat-divider></mat-divider>
    <h3>Screen Layout:</h3>
    <div class="settings-item">
        <div style="flex: 0 0">Columns Portrait:</div>
        <mat-slider style="flex: 1 1" max="6" min="1" step="1" thumbLabel="true" [(ngModel)]="cols"
            (change)="setCols()">
        </mat-slider>
    </div>
    <div class="settings-item">
        <div style="flex: 0 0">Columns Landscape:</div>
        <mat-slider style="flex: 1 1" max="20" min="1" step="1" thumbLabel="true" [(ngModel)]="colsLand"
            (change)="setColsLand()">
        </mat-slider>
    </div>
    <div>
        Slide Effect <button mat-stroked-button color="accent" (tap)="setEffect()">{{ getEffect | titlecase }}</button>
    </div>
    <mat-divider></mat-divider>
    <h3>Tiles:</h3>

    <div >
        <span >Primary Color:  </span>
        <button mat-flat-button color="primary" (tap)="openPrimaryColor()">Primary Color</button>
    </div>    <div >
        <span >Accent Color:  </span>
        <button mat-flat-button color="accent" (tap)="openAccentColor()">Accent Color</button>
    </div>
    <mat-checkbox [(ngModel)]="showCurrent" (change)="setClimateDisplay()" color="primary">Show Climate Current Temp
    </mat-checkbox>
    <div>
        <button mat-button color="accent" (tap)="setPasscode()">Set Passcode</button>
    </div>

    <div>
        <button mat-button color="warn" (tap)="resetRooms()">Reset Rooms</button>
    </div>
    <div>
        HassPWA version: 1.0.1
    </div>
</div>