<mat-toolbar color="primary">
    <span>Settings</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [routerLink]="['/home']"><span style="width: 100%; height: 100%; color: white;"
            class="iconify" data-icon="mdi:home"></span></button>

</mat-toolbar>

<div class="settings-area">
    <mat-form-field class="example-full-width">
        <mat-label>Home Assistant URL</mat-label>
        <span matPrefix>https://</span>
        <input type="url" [(ngModel)]='url' matInput placeholder="ha.duckdns.org:8123">
        <mat-hint align="start"><strong>Must be ssl and external</strong> </mat-hint>
    </mat-form-field>
    <button mat-button (click)="tryConnect()" color="primary">Connect</button>
    <div class="settings-item">
        Columns:
        <mat-slider max="12" min="1" step="1" thumbLabel="true" [(ngModel)]="cols" (change)="setCols()">
        </mat-slider>
    </div>
</div>
<div>
    <button mat-button color="warn" (click)="resetRooms()">Reset Rooms</button>
</div>